body,
html {
    background-color: #0e0e0f;
    color: white;
    overflow-x: hidden;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* homepage hero */
.homepage-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), #0e0e0f), url("../img/home-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bg-grad-gray {
    background: linear-gradient(59deg, #252525 45.45%, rgba(37, 37, 37, 0.00) 111.69%);
}

.continuous-slider {
    animation: scroll 20s linear infinite;
}

.continuous-slider-after {
    animation: scroll2 20s linear infinite;
    animation-delay: 1s;
    right: 0;
    top: 50%;
    transform: translateX(100%) translateY(-50%);
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(100%) translateY(-50%);
    }

    100% {
        transform: translateX(0) translateY(-50%);
    }
}

.track::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(90deg, #0E0E0F, transparent);
    z-index: 1000;
}

.track::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #0E0E0F);
    z-index: 1000;
}

.solution .card {
    background-image: url("../img/solution-bg.png");
    border: 1px solid #444445;
    background-color: #1A1A1A;
    border-radius: 100px;
    z-index: 1000000;
    position: relative;
    border-image: url("../img/border.png") 100;
    border-image-width: 0 0 20px;
}

.bg-d {
    background-image: url("../img/bg-d.png");
    padding-left: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 150px;
    padding-bottom: 150px;
}

.prism {
    background-image: url("../img/prism.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.copyright {
    border-radius: 25px;
    border: 1px solid #434343a9;
    background: linear-gradient(59deg, #252525aa 45.45%, rgba(37, 37, 37, 0.00) 111.69%);
}




/* team */
.team-hero{
    background-image: url("../img/team-hero.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

/* news */
.news-hero{
    background-image: url("../img/news-hero.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}