body,
html {
    background-color: #0e0e0f;
    color: white;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* homepage hero */
.homepage.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), #0e0e0f), url("../img/home-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bg-grad-gray {
    background: linear-gradient(59deg, #252525 45.45%, rgba(37, 37, 37, 0.00) 111.69%);
}